!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Fight or Flight</title>
   <link rel="stylesheet" href="css/style.css" type="text/css">
   
 </head>
 <body> 
    <h1>Cornered</h1>
   <br>
  
   
   <p class=text> You are chased up the stairs. As you get onto the roof you look around. There are a few other buildings nearby. The teen slowly approuches you. Do you jump over to another building or, stay and fight.</p>
   
   <form method='POST' action='/fight'>
    
    <button type="submit" id=button>Fight</button>
   </form>
       <form method='POST' action='/jump'>
    
    <button type="submit" id=button>Jump</button>
     
   </form>
  </body>
</html>