!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Dead</title>
   <link rel="stylesheet" href="css/style.css" type="text/css">
   
 </head>
 <body >
   <div id=jump>
    <h1>You're Dead</h1>
   
   <br>
   <br>
 
   <p class=text>You rolled a <%=@x %>.<br>He runs at you. You get ready. You throw a punch at him. He moves his hachet to block your hit cutting into your hand. You wince in pain. Using his second hachet he cuts you down your torso. You collapse from the pain. As you lay on the floor he performs the finishing blow.</p>

     <span id=jump2>
       <img id=jump src="http://img03.deviantart.net/0e52/i/2015/116/6/1/ticci_toby_by_smile_test-d8fj5cc.png">
     </span>
        <div id=fix>
   <form method='POST' action='/Start'>
    
    <button type="submit" id=button>restart</button>
     
   </form>
          </div>
     </div>
  </body>
</html>