!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Fight or Flight</title>
   <link rel="stylesheet" href="css/style.css" type="text/css">
   
 </head>
 <body> 
    <h1>Fight</h1>
   <br>
   <br>
   
   <div class=text> 
     <p>You face the cannibal. He comes at you with his hachets. You get a good look at him. His face has blood smeered across. He has glasses that cover his eyes, but you can still feel his gaze pierce you. </p>
     <p id=hint> (To win this fight you must get a 4 or higher. If not well... You can geuss what happens.)
     </p>
   </div>
  <form method='POST' action='/next'>
     <input type="submit" value="Next" id=button>
       
  </form>
   
  </body>
</html>