<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Toby's Game</title>
   <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>Toby's Little Game</h1>
   
     <img id= pics src="https://em.wattpad.com/4566eb0073f2fcf175c648a82c2ca18b6ee27428/687474703a2f2f6d656469612d63616368652d6563302e70696e696d672e636f6d2f6f726967696e616c732f66642f35302f61382f66643530613863663735616339323066636432393135643563333331366263622e6a7067">
 
  <form method='POST' action='/Start'>
    
    <button type="submit" id=button2>Start</button>
   
   </form>
   
 </body>
</html>
