!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>You won</title>
    
   <link rel="stylesheet" href="css/style.css" type="text/css">
   
    </head>
 <body> 
    <h1>Toby is defeated</h1>
   
   <br>
   <br>
   
   <p class=text> You rolled a <%=@x %>.<br>As you face him you throw a punch. The punch knockes him off balance and he drops a hachet. You grab it before him. He pulls out his second hachet. You cut him across the face. His blood splatters on your shirt. You hit him hard on his head splitting his skull. He's dead.</p>
   
   <form method='POST' action='/Start'>
    
    <button type="submit" id=button>Restart</button>
    
     
   </form>
  </body>
</html>